<div class="row">

  <div class="col-sm-4">
    <div class="input-group">
      <!-- Type should be one of [Source, Transform, Sink] -->
      <div class="input-group-addon">Type</div>
      <button type="button"
              class="btn btn-default"
              ng-model="inputType"
              placeholder="Type"
              bs-options="type.name as type.name for type in types" bs-select>
          <span class="caret"></span>
      </button>
    </div>
  </div>

</div>

<br />

<div class="form-group">
  <h2> Properties of Source/Sink/Transform </h2>
  <div class="col-sm-12">
    <div class="row">
      <div class="col-sm-10" ng-show="schema.fields.length > 0">
        <div ng-repeat="field in schema.fields" class="h4">
          <label ng-bind="field.name"></label>
          <input type="text" class="form-control" ng-model="field.type"/>
        </div>
      </div>
      <div class="col-sm-10" ng-show="schema.fields.length === 0">
        <div class="well well-sm text-center h4">
          <h4> No Fields Added </h4>
        </div>
      </div>
    </div>
  </div>
</div>
